<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="TestConfiguration" type="ConfigurationAssist.Tests.Configuration.TestConfiguration, ConfigurationAssist.Tests"/>
    <section name="AutomaticConfiguration" type="ConfigurationAssist.Tests.Configuration.AutomaticConfiguration, ConfigurationAssist.Tests"/>

    <section name="TypedPropertiesConfiguration" type="ConfigurationAssist.Tests.Configuration.TypedPropertiesConfiguration, ConfigurationAssist.Tests"/>
    <section name="TypedPropertiesConfigurationFailCase" type="ConfigurationAssist.Tests.Configuration.TypedPropertiesConfigurationFailCase, ConfigurationAssist.Tests"/>

    <section name="ValueKeySectionConfiguration" type="System.Configuration.NameValueSectionHandler"/>
    <section name="DictionarySectionConfiguration" type="System.Configuration.DictionarySectionHandler"/>
    <section name="SingleTagSectionConfiguration" type="System.Configuration.SingleTagSectionHandler"/>

    <section name="FailConfigSection" type="System.Configuration.SingleTagSectionHandler"/>

    <section name="ComplexSettings" type="ConfigurationAssist.Tests.Configuration.ComplexSettings, ConfigurationAssist.Tests"/>
    
    <sectionGroup name="TestingGroup">
      <section name="TestGroupSection" type="ConfigurationAssist.Tests.Configuration.TestGroupSection, ConfigurationAssist.Tests"/>
      <section name="TestGroupOtherSection" type="ConfigurationAssist.Tests.Configuration.TestGroupOtherSection, ConfigurationAssist.Tests"/>
      <section name="TestSectionOnlyGroupSpecified" type="System.Configuration.SingleTagSectionHandler" />
    </sectionGroup>
    
  </configSections>

  <TestConfiguration
    name="TestName"
    version="1.0.0.0" />

  <AutomaticConfiguration
    Name="AutomaticName"
    Version="1.2.3.4"
    Value="100.00" />

  <TestingGroup>
    <TestGroupSection
      name="MyTestGroupSectionName"
      value="MyTestGroupSectionValue"/>

    <TestGroupOtherSection
      testvalue="123" />
    
    <TestSectionOnlyGroupSpecified
      Name="TestName"
      Value="TestValue"/>
  </TestingGroup>

  <ComplexSettings
    Name="Test Complex Settings"
    TopValue="Top Level Value">
    <Sub ObjectName="Sub Object Name" Alternative="Alternative Name" />
  </ComplexSettings>

  <TypedPropertiesConfiguration
    decimalValue="12.4"
    doubleValue="123.43"
    longValue="23"
    intValue="1"
    stringValue="Test"/>

  <TypedPropertiesConfigurationFailCase
    intValue="FailCase" />

  <DictionarySectionConfiguration>
    <add key="Name" value="DictionaryTest"/>
  </DictionarySectionConfiguration>

  <SingleTagSectionConfiguration
    Name="SingleTagTest"/>
  
  <ValueKeySectionConfiguration>
    <add key="Name" value="MyName"/>
    <add key="Value" value="23.4"/>
  </ValueKeySectionConfiguration>
  
  <appSettings>
    <add key="MaxFileLength" value="128000000"/>
    <add key="testName" value="AppSettingTest"/>
    <add key="testIntValue" value="42"/>
  </appSettings>
  
</configuration>