<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="TestConfiguration" type="ConfigurationAssist.Tests.Configuration.TestConfiguration, ConfigurationAssist.Tests"/>
  </configSections>

  <TestConfiguration
    name="TestName"
    version="1.0.0.0"/>
  
</configuration>