<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="TestConfiguration" type="ConfigurationAssist.Tests.Configuration.TestConfiguration, ConfigurationAssist.Tests"/>
    <section name="ValueKeySectionConfiguration" type="System.Configuration.NameValueSectionHandler"/>
    <section name="DictionarySectionConfiguration" type="System.Configuration.DictionarySectionHandler"/>
    <section name="SingleTagSectionConfiguration" type="System.Configuration.SingleTagSectionHandler"/>
    <section name="FailConfigSection" type="System.Configuration.SingleTagSectionHandler"/>

    <section name="ComplexSettings" type="ConfigurationAssist.Common.ComplexTypeSectionHandler, ConfigurationAssist"/>
    <sectionGroup name="TestingGroup">
      <section name="TestSectionOnlyGroupSpecified" type="System.Configuration.SingleTagSectionHandler" />
    </sectionGroup>
    
  </configSections>

  <!--SECTION GROUPS-->
  <TestingGroup>
    <TestSectionOnlyGroupSpecified
      Name="TestName"
      Value="TestValue"/>
  </TestingGroup>

  <TestConfiguration
    name="TestName"
    version="1.0.0.0" />
	
  <!--Complex Object Tests-->
  <ComplexSettings>
	<Name>Test Complex Settings</Name>
	<TopValue>Top Value Level</TopValue>
	<Sub> 
		<ObjectName>Sub Object Name</ObjectName>
		<Alternative>Alternative Name</Alternative>
	</Sub>
    <KeyValue>
        <SubSettings>
            <Name>Name 1</Name>
            <Value>1</Value>
        </SubSettings>
        <SubSettings>
            <Name>Name 2</Name>
            <Value>2</Value>
        </SubSettings>
        <SubSettings>
            <Name>Name 3</Name>
            <Value>3</Value>
        </SubSettings>
    </KeyValue>
  </ComplexSettings>

  <!--Default Handler Tests-->
  <DictionarySectionConfiguration>
    <add key="Name" value="DictionaryTest"/>
  </DictionarySectionConfiguration>

  <SingleTagSectionConfiguration
    Name="SingleTagTest"
	decimalValue="12.4"
	doubleValue="123.43"
    longValue="23"
    intValue="1"
    stringValue="Test"/>
  
  <ValueKeySectionConfiguration>
    <add key="Name" value="MyName"/>
    <add key="Value" value="23.4"/>
  </ValueKeySectionConfiguration>

  <!--App Setting Tests-->
  <appSettings>
    <add key="MaxFileLength" value="128000000"/>
    <add key="testName" value="AppSettingTest"/>
    <add key="testIntValue" value="42"/>
  </appSettings>
  
</configuration>